<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="hu.androidportal"
	android:versionCode="6" android:versionName="0.6">

	<uses-sdk android:minSdkVersion="3" />
	<uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>

	<application android:icon="@drawable/aphuicon" android:label="@string/app_name">

		<provider android:name="RSSItemProvider" android:authorities="hu.androidportal.RSSItem" android:syncable="true"/>
	
		<activity android:name="ItemListActivity">
			<intent-filter>
				<category android:name="android.intent.category.LAUNCHER"/>
				<action android:name="android.intent.action.MAIN"/>
			</intent-filter>
		</activity>
		<activity android:name="PreferencesActivity" />
		<activity android:name="AboutActivity" />
		<activity android:name="ItemViewActivity" />

		<receiver android:name="hu.androidportal.widget.PortalWidgetProvider" >
		    <intent-filter>
		        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
		    </intent-filter>
		    <meta-data android:name="android.appwidget.provider"
		               android:resource="@xml/portal_widget_info" />
		</receiver>

		<service android:name="RSSSyncService"/>

		<receiver android:name="RSSServiceStartReceiver">
			<intent-filter>
				<action android:name="hu.androidportal.action.SYNCH_NOW"/>
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED"/>
			</intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.BACKGROUND_DATA_SETTING_CHANGED" />
            </intent-filter>
 		</receiver>
</application>


</manifest> 