<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="bankdroid.start"
	android:versionCode="15" android:versionName="2.0a3">
	<application android:icon="@drawable/bankdroid_icon" android:label="@string/app_name">
		<activity android:name=".MainActivity" android:label="@string/app_name" android:launchMode="singleTask">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
<!--		<activity android:name=".StartActivity"/>-->
		<activity android:name=".auth.AuthStartActivity"/>
		<activity android:name=".auth.AuthBankSelectActivity"/>
		<activity android:name=".auth.BHAAuthActivity"/>
		<activity android:name=".auth.OTPAuthActivity"/>
		<activity android:name=".auth.DummyAuthActivity"/>
		
		<activity android:name=".AccountListActivity" />
		<activity android:name=".TransactionListActivity" />
		<activity android:name=".PropertyViewActivity" />
		<activity android:name=".SearchTransactionActivity" />

		<activity android:name=".Preferences" />
		<activity android:name=".AboutActivity" />
		<activity android:name=".LogoutActivity" />
		
		<!-- The application's publisher ID assigned by AdMob -->
		<meta-data android:value="a14c76c40678806" android:name="ADMOB_PUBLISHER_ID" />
		
		<!-- Track Market installs -->            
		<receiver android:name="com.admob.android.ads.analytics.InstallReceiver" android:exported="true">
		        <intent-filter>
		                <action android:name="com.android.vending.INSTALL_REFERRER" />
		        </intent-filter>
		</receiver>
	</application>
	
	<uses-sdk android:minSdkVersion="3" />
	
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
	
</manifest> 