<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="hu.androidportal"
	android:versionCode="1" android:versionName="1.0">

	<uses-sdk android:minSdkVersion="3" />
	<uses-permission android:name="android.permission.INTERNET"/>

	<application android:icon="@drawable/icon" android:label="@string/app_name">

		<activity android:name="Test">
			<intent-filter>
				<category android:name="android.intent.category.LAUNCHER"></category>
				<action android:name="android.intent.action.MAIN"></action>
			</intent-filter>
		</activity>
		<activity android:name="ItemListActivity" />
		<activity android:name="PreferencesActivity" />
		<activity android:name="ItemViewActivity" />

		<receiver android:name="hu.androidportal.widget.PortalWidgetProvider" >
		    <intent-filter>
		        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
		    </intent-filter>
		    <meta-data android:name="android.appwidget.provider"
		               android:resource="@xml/portal_widget_info" />
		</receiver>

		<provider android:name="RSSItemProvider" android:authorities="hu.androidportal.RSSItem" />
	
<service android:name="RSSSyncService"></service>

</application>


</manifest> 